// Brand Colors
$dark-cerulean:    #00397f;
$unknown-blue:       #0059aa;
$endeavour:        #0157ac; 
$denim:            #1e69b0;
$ocean-boat-blue:  #0075c0;
$cerulean:         #0799e3;
$capri:            #00a6ff;
$cyan:             #00acf2;
$bright-erulean:   #29b2ed;
$picton-blue:      #33bdf8;
$storm-gray:       #727284;
$liver:            #4d4d4f;
$chicago:          #5b5b5f;
$quartz:           #4c4c4c;
$manatee:          #9797a5;
$french-gray:      #b9b9c8;
$logan:            #b0b0cf;
$cool-grey:        #8989b1;
$cadet-blue:       #aeaec5;
$alabaster:        #fbfbfb;
$white:            #ffffff;
$white-approx:     #fffffe;
$soapstone:        #fefdf9;
$spring-wood:      #f8f7f1;
$vegan:            #003b7e;
$pumice:           #c6c6c6;
$celeste:          #cfcfcf;
$snuff:            #dbdbeb;
$mystic:           #e9e9f0;
$carnation:        #f8555c;
$lust:             #e52519;
$azure:            #3c5a9a;    //...............fb background
$spiro-disco-ball: #26c1f4;    //...............twitter background
$valencia:         #dc483b;    //...............google+ background
$french-blue:      #0173b2;    //...............linkedin background
$fire-engine-red:  #cb2027;    //...............pinterest background
$tango:            #f08421;    //...............rss-feed background
$black:            #000000;
$pitch-blue:       #0d3c7d;
$crispy-white:     #edebe3;
$teen-blue:        #00adf3;
$sand-gray:        #b2b2b7;
$snuff-approx:     #dbdbea;
$resolution-blue:  #003782;

// Basic Variables
$container_w: 1110px;
$col_w: 65px;
$gutter_w: 30px;
$colgut_w: $col_w + $gutter_w;
$letter_s: 6px;
