/* ======= LATEST NEWS ======= */
#c_ft_blog {
  background: url(../images/news-pattern.gif);
  padding: 101px 0 97px 0;
  overflow: hidden;
  text-align: center;
  position: relative;
	/* Tablet */
	@include media('>=tablet', '<=desktop' ) {
		padding: 98px 0 27px 0;
	}
	/* Mobile */
	@include media('>=phone', '<=tablet' ) {
		padding: 98px 0 27px 0;
	}
  #c_arrow {
    position: absolute;
    background: url(../images/blog-arrow.png) no-repeat;
    top: 0;
    left: 50%;
    width: 28px;
    height: 8px;
    margin-left: -14px;
    background-size: 28px 9px;
  }
  h5 {
    color: $soapstone;
    margin-bottom: 90px;
    font-family: 'montserrat-light';
    letter-spacing: $letter_s;
	  /* Mobile */
	  @include media('>=phone', '<=tablet' ) {
		  margin-bottom: 98px;
	  }
  }
  a {
    color: $white;
  }
  .c_row {
    .c_col.c_col_4 {
      background: $soapstone;
      padding: 39px 0 45px 0;
      text-align: center;
      position: relative;
      margin-bottom: 97px;
		/* Tablet */
		@include media('>=tablet', '<=desktop' ) {
			margin-left: 0px;
			margin-bottom: 40px;
		}
		/* Mobile */
		@include media('>=phone', '<=tablet' ) {
			margin-left: 0px;
			margin-bottom: 40px;
		}
      .c_border_arrow {
        background: url(../images/down-arrow-block.png) no-repeat;
        position: relative;
        background-size: 28px 10px;
        width: 28px;
        height: 10px;
        top: 126px;
        left: 50%;
        margin-left: -14px;

      }
      h5 {
        font-size: 18px;
        margin-bottom: 24px;
        color: $cyan;
        padding: 0 48px 0 45px;
        text-transform: capitalize;
        font-family: 'interstate-bold';
        line-height: 21px;
        letter-spacing: 0;
		  /* Tablet */
		  @include media('>=tablet', '<=desktop' ) {
			  font-size: 18px;
		  }
		  /* Mobile */
		  @include media('>=phone', '<=tablet' ) {
			  font-size: 14px;
		  }
      }
      h6 {
        color: $snuff;
        font-size: 14px;
        padding-bottom: 33px;
        margin-bottom: 48px;
        border-bottom: $snuff 2px solid;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: 'montserrat-light';
		  /* Tablet */
		  @include media('>=tablet', '<=desktop' ) {
			  font-size: 14px;
		  }
		  /* Mobile */
		  @include media('>=phone', '<=tablet' ) {
			  font-size: 11.37px;
		  }
      }
      p {
        color: $storm-gray;
        font-size: 16px;
        padding: 0 48px 0 45px;
        margin-bottom: 0;
        line-height: 22px;
		  /* Tablet */
		  @include media('>=tablet', '<=desktop' ) {
			  font-size: 16px;
		  }
		  /* Mobile */
		  @include media('>=phone', '<=tablet' ) {
			  font-size: 12.99px;
		  }
		  a
		  {
			  color: $cyan;
			  text-decoration: none;
			  /* Mobile */
			  @include media('>=phone', '<=tablet' ) {
				  font-size: 12.99px;
			  }
		  }
      }
    }
  }
}

/* ======= BLOG ======= */
#c_blog {


	overflow:hidden;
	a{
		text-decoration: none;
		&:hover{
			text-decoration:none;
		}

	}
	h2{
		color: $teen-blue;
		margin-bottom: 11px;
		a{
			&:hover{
				text-decoration:underline;
			}
		}
	}
	p{
		margin-bottom: 41px;

	}
	.c_post_article{
		border-bottom: 2px solid $crispy-white;
		margin-bottom: 27px;
	}
	.c_btn_white{
		padding: 0px 50px;
		margin-bottom: 52px;
		text-decoration: none;
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			
			padding: 0;
			display: inline-block;
			font-size: 20px;
			text-decoration:none;
			color: $cadet-blue;
			margin-left: 14px;
			margin-bottom: 19px;
			&:first-child{
				margin-left:0;
			}
			span{
				margin-right: 5px;
			}
			a{
				color: $cadet-blue;
				text-decoration: none;
				margin-right: 19px;
				&:hover{
					text-decoration:underline;
				}
			}
			&:before{
				display:none;
			}
			
		}
	}

	.c_weekly_newsletter{
		text-align: center;
		border: 2px solid $snuff;
		padding: 31px 15px;
		width: 285px;
		margin-bottom: 34px;
		h6{
			color: $teen-blue;
			margin-bottom: 18px;
			line-height: 25px;

		}
		P{
			font-size: 16px;
			line-height: 28px;
			margin-bottom: 20px;
		}
		input[type=text]{
			font-size: 20px;
			color: $ocean-boat-blue;
			line-height: 24px;
			height: 43px;
			font-size: 20px;
			margin-bottom: 17px;
			padding: 0 24px;
		}
		input[type=email]{
			font-size: 20px;
			color: $ocean-boat-blue;
			line-height: 24px;
			height: 43px;
			font-size: 20px;
			margin-bottom: 18px;
			padding: 0 24px;
		}
		.c_btn_blue{
			height: 43px;
			width: 244px;
			line-height: 42px;
		}
		
		
	}
	.c_widget{
		.c_social_icons{
			width: 285px;
			margin-bottom: 28px;
			ul{
				margin:0;
				padding:0;
				li{
					margin:0;
					padding: 0;
					width: 38px;
					height: 42px;
				}
			}
			h6{
				border-bottom: 1px solid $snuff;
				color: $sand-gray;
				padding-bottom: 12px;
				margin-bottom: 16px;
			}
			

			.c_fb{
				a{
					background: url(../images/sidebar-social-icons.png);
					background-position: 0 42px;
					display: inline-block;
					width: 38px;
					height: 42px;
				}

			}
			.c_tw{
				a{
					background: url(../images/sidebar-social-icons.png);
					background-position: -43px 42px;
					display: inline-block;
					width: 38px;
					height: 42px;
				}

			}
			.c_g_plus{
				a{
					background: url(../images/sidebar-social-icons.png);
					background-position: -86px 42px;
					display: inline-block;
					width: 38px;
					height: 42px;
				}

			}
			.c_l_in{
				a{
					background: url(../images/sidebar-social-icons.png);
					background-position: -128px 42px;
					display: inline-block;
					width: 38px;
					height: 42px;
				}

			}
			.c_pin{
				a{
					background: url(../images/sidebar-social-icons.png);
					background-position: -172px  42px;
					display: inline-block;
					width: 36px;
					height: 42px;
				}

			}
			.c_rss{
				a{
					background: url(../images/sidebar-social-icons.png);
					background-position: -214px 42px;
					display: inline-block;
					width: 37px;
					height: 42px;
				}

			}

			


		}


		.c_recent_post{
			.rpwe-li{
				h3{
					a{
						color: $storm-gray;
						font-weight: 600;
					}
					
				}
				
			}
			.rpwe-time{
				font-size: 15px;
				font-family: 'interstate-light';
				text-transform: uppercase;
				position: relative;
				top: -7px;
			}
			h6{
				color: $sand-gray;
				margin-bottom: 12px;
			}
			h3{
				font-size: 15px;
				line-height: 20px;
				margin-bottom: 0px;
			}
			ul{
				margin:0;
				padding: 0;

				li{
					margin:0;
					padding:0;
					padding-top: 13px;
					border-top: 1px solid $snuff;
					display: block;
					a{
						margin:0;
						padding: 0;

					}
				}
			}
		}
	}


	.c_post_single_article{
		margin-bottom: 111px;
		a{
			font-family: 'interstate-light';
			
		}
		p{
			margin-bottom: 45px;
			a{
				&:hover{
					text-decoration: underline;
				}
				
			}
		}

	}
	/*Pagination*/

	.c_blog_pagination{
		text-align: center;
		margin-bottom: 207px;
		font-size: 16px;
		line-height: 44px;
		a{
			color: $vegan;
		}
		.previouspostslink{
			float: left;
			color: $vegan; 
			&:hover{
				color:$capri;
			}

		}
		.nextpostslink{
			float: right;
			&:hover{
				color:$capri;
				
			}

		}
		.page {
			&.larger{
				background: url(../images/pagination-1.png) no-repeat;
				background-size: 36px auto; 
				display: inline-block;
				color: $vegan;
				width: 36px;
				height: 42px;
				margin-right: 10px;
			}
			&:hover {
				background: url(../images/pagination-2.png) no-repeat;
				background-size: 36px auto; 
				display: inline-block;
				color: $white;
				width: 36px;
				height: 42px;
				
			}			

		}
		.current{
			background: url(../images/pagination-2.png) no-repeat;
			background-size: 36px auto; 
			display: inline-block;
			color: $white;
			width: 36px;
			height: 42px;
			margin-right: 10px;
		}
	}


  .c_post_single_article {
    margin-bottom: 111px;
    a {
      font-family: 'interstate-light';

    }
    p {
      margin-bottom: 45px;
      a {
        &:hover {
          text-decoration: underline;
        }

      }
    }


  }
}

/*========= Comments =========*/


.c_blog_comments{
  background-color: $alabaster;
}

#respond {
  padding-bottom: 37px;
  border-bottom: 2px solid $crispy-white;
  width: 90%;
  margin-bottom: 50px;
  &:after{
    content: "";
    clear: both;
    display: block;
  }
  h4 {
    margin-bottom: 30px;
    clear: both;
  }
  #commentform {
    p {
      float: left;
      width: 32.33%;
      margin-left: 15px;
      &:last-of-type {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
        textarea {
          border: 2px solid $snuff;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
    .wm_comment_btn {
      float: left;
      input[type=submit]{
        background: $white;
        color: $pitch-blue;
        &:hover {
          background: $capri;
          color: $white;
        }
      }
    }
  }
}

#commentform {
  @include media('<=desktop') {
    width: 100%;
  }
  input[type=text], input[type=tel], input[type=email], input[type=password], input[type=number], select {
    margin: 0 0 0 0;
    padding: 10px 20px 10px 20px;
    border: 2px solid $snuff;
  }
  textarea {
    vertical-align: top;
    padding: 18px;
    margin-bottom: 30px;
  }
  input[type=submit] {
    float: right;
    @include media('<=desktop') {
      width: 100%;
    }
  }
  .wm_comment_btn {
    @include media('<=desktop') {
      width: 100%;
      margin-bottom: 130px;
      background-size: cover;
    }
    span {
      padding-top: 12px;
      float: right;
      @include media('<=desktop') {
        width: 100%;
        float: left;
      }
    }
  }
  ​
  p {
    margin-bottom: 0;
    &.wm_field_left {
      width: 50%;
      float: left;
      @include media('<=desktop') {
        width: 100%;
      }
      input[type=text], input[type=tel], input[type=email], input[type=password], input[type=number], select {
        border-right: none;
        @include media('<=desktop') {
          border-right: 2px solid $black;
        }
      }
    }
    &.wm_field_right {
      width: 50%;
      float: right;
      @include media('<=desktop') {
        width: 100%;
      }
    }
  }
}

​
h4 {
  &#comments {
    margin-bottom: 30px;
    clear: both;
    width: 820px;
    @include media('<=desktop') {
      width: 100%;
    }
    cite {
      font-size: 16px;
      color: $black;
      font-style: normal;
      float: right;
      text-transform: uppercase;
      letter-spacing: 3px;
      //padding: 7px 0 0 0;
      font-weight: 900;
      @include media('<=tablet') {
        width: 100%;
      }
    }
  }
}

.reply{
  display: none;
}

.commentlist{
  width: 90%;
  &:after{
    content: '  ';
    clear: both;
    display: none;
  }
  .comment{
    padding-left: 0;
    &:before{
      display: none;
    }
    &:after{
      content: " ";
      clear: both;
      display: block;
    }
  }
}

.comment-body {
  &:after{
    content: "";
    display: block;
    clear: both;
  }
  .comment-author {
    &.vcard {
      width: 10%;
      float: left;
    }
  }
  p {
    width: 88%;
    float: right;
    font-family: montserrat-light;
    font-size: 19px;
    span {
      display: block;
      font-family: interstate-regular;
      font-size: 23px;
    }
  }
}
.commentmetadata {
  display: none;
}

.children{
  padding-left: 115px;
}
​
.wm_comments {
  width: 820px;
  margin-bottom: 60px;
  &:after{
    content: ' ';
    display: block;
    clear: both;
  }
  @include media('<=desktop') {
    width: 100%;
  }
  ol {
    &:after{
      content: ' ';
      display: block;
      clear: both;
    }
    margin: 0 0 0 0;
    list-style: none;
    li {
      border: 1px solid $black;
      margin-bottom: 30px;
      margin-left: 0;
      overflow: hidden;
      padding-top: 20px;
      &.says {
        display: none;
      }
      h6 {
        display: inline-block;
        span {
          text-transform: capitalize;
          color: $black;
          font-weight: 900;
        }
      }
      .comment-author {
        float: left;
        margin-left: 20px;
        cite {
          &.fn {
            text-transform: uppercase;
            color: $black;
            font-weight: 900;
            display: inline-block;
            font-style: normal;
          }
        }
        .says {
          display: none;
        }
        ​
        img {
          width: 60px;
          height: 60px;
          margin-right: 20px;
          float: left;
          border: none;
          box-shadow: none;
          padding: 0;
          background: none;
          margin-bottom: 0;
          border-radius: 50%;
        }
      }
      p {
        margin: 4px 0 20px 100px;
        @include media ('<tablet') {
          margin: 0 0 0 0;
          padding: 0 20px;
        }
      }
      .reply, .cancel-comment-reply {
        height: 50px;
        margin-right: 20px;
        a {
          text-decoration: none;
          color: $black;
          letter-spacing: 3px;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 900;
          float: right;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      ul {
        &.children {
          margin: 0 0 0 0;
        }
        li {
          //padding: 10px !important;
          //width: 820px;
          border-left: 20px solid $black !important;;
          margin-bottom: 0;
          border-bottom: none;
          border-left: none;
          font-style: normal;
          border-right: 0;
          @include media('<=desktop') {
            width: 100%;
            p {
              margin: 0 0 0 20px;
              @include media('<=desktop') {
                margin: 0 0 0 0;
                padding: 0 0 0 14px;
              }
            }
          }
          .reply, .cancel-comment-reply {
            height: 50px;
          }
        }
      }
    }
  }
}

.comment-awaiting-moderation {
  display: none;
}

.wm_social_icons {
  a {
    display: inline-block;
    text-align: center;
    color: $white;
    font-size: 30px;
    margin: 10px 10px 10px 0;
    padding: 4px 9px;
    &:hover {
      opacity: .5;
    }
  }
  .twitter_icon {
    //background-color: $bright-cerulean;
  }
  .facebook_icon {
    background-color: $azure;
    padding: 4px 10px 4px 18px;
  }
}
.wm_comment_heading{
  span{
    color: $teen-blue;
    text-transform: uppercase;
  }
}
